{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a type="button" href="/admin/products" class="btn btn-secondary">Trở lại</a>
                </div>
                <div class='card-body'>
                    <form class="form" enctype="multipart/form-data" method="POST">
                        <fieldset>

                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="control-label text-uppercase" for="name">TÊN SẢN PHẨM<span style="color:red">*</span></label>
                                    <input id="name" name="name" placeholder="Tên sản phẩm"
                                    class="form-control" required type="text">
                                </div>
                                
                                <div class="form-group col">
                                    <label class="control-label text-uppercase" for="category">DANH MỤC SẢN PHẨM</label>
                                    <select id="category" name="category" class="form-control">
                                        <option value="">-- Chọn loại sản phẩm --</option>
                                        {{#each categories}}
                                            {{#noChild name ../categories }}
                                                <option value="{{_id}}">{{name}}</option>
                                            {{/noChild}}
                                        {{/each}}
                                    </select>
                                    <p class="mt-2 mb-0 text-muted">*Mặc định: Không</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="mr-2 text-uppercase">Thuộc tính</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="property" type="checkbox" id="inlineCheckbox2" value="Mới">
                                    <label class="form-check-label" for="inlineCheckbox2">Mới</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="property" type="checkbox" id="inlineCheckbox3" value="Nổi bật">
                                    <label class="form-check-label" for="inlineCheckbox3">Nổi bật</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="control-label text-uppercase" for="price">Giá gốc</label>
                                    <input id="price" name="price" placeholder="Giá gốc" class="form-control input-md" type="number" min="0">
                                    <p class="mt-2 mb-0 text-muted">*Mặc định: Liên hệ</p>
                                </div>

                                <div class="form-group col">
                                    <label class="control-label text-uppercase" for="sale">Giá khuyến mãi</label>
                                    <input id="sale" name="sale" placeholder="Giá khuyến mãi" class="form-control input-md" type="number" min="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="amount">Số lượng<span style="color:red">*</span></label>
                                <input id="amount" name="amount" placeholder="Số lượng"
                                class="form-control input-md w-50" required="" type="number" min="0">
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label text-uppercase" for="product-imgs">HÌNH ẢNH SẢN PHẨM<span style="color:red">*</span></label>
                                <div class="form-group-container">
                                    <input id="product-imgs" accept="image/*" required="" name="product-imgs"
                                        class="form-control-file" onchange="preview()" type="file" multiple>
                                    <p id="num-of-file" class="mt-1">Chưa có ảnh nào được chọn</p>
                                    <div id="images-upload">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-uppercase" for="description">Mô tả sản phẩm</label>
                                <textarea id="description" name="description" class="ckeditor"></textarea>
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let fileInput = document.getElementById("product-imgs")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')

    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} ảnh đã được chọn`;

        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")

            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                img.setAttribute("width", '50%');
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }
    CKEDITOR.replace('ckeditor')
</script>