@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700;);

:root {
    --vang: #996e11;
    --cam: #d8ca4f;
    --tim: #a66cff;
    --luc: #59ce8f;
    --xanh: #3ab4f2;
}

.line-through {
    text-decoration: line-through;
}

li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    text-align: start;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-menu li:hover a,
.nav-menu-2 li:hover a {
    transition: all 0.05s;
    color: #fff !important;
}

body {
    background-color: #f4f0f0 !important;
    font-family: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Montserrat';
    font-size: 14px;
}
ul li {
    display: inline-block;
    vertical-align: top;
    padding: 12px 16px;
    cursor: pointer;
    position: relative;
}

.nav__menu__input,
.nav__menu__2__input {
    display: none;
}

.nav-menu .sub-nav {
    text-align: start;
    margin-left: 16.5px;
    padding-left: 8px;
}

.nav-menu-2 li:hover {
    background-color: var(--vang);
    transition: all 0.05s;
}

ul.nav-menu,
.header-right-corner ul {
    margin-top: 2rem;
}

.header-right-corner a {
    color: #000 !important;
}

.sub-nav-inside {
    left: 95% !important;
    top: -10% !important;
    z-index: 90000;
}

.sub-nav-inside-2 {
    left: 95% !important;
    top: -37% !important;
}

#page-header {
    width: 100%;
    color: #000;
    z-index: 999;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

.header-top {
    height: 40px;
    background-color: #f6d99f;
}

.header-hotline span {
    color: #e33f40;
}

.mr-5 {
    margin-right: 100px;
}

.buy-box {
    background-color: deepskyblue;
    padding: 3px 10px 5px;
    border-radius: 5px;
}

.buy-box a {
    color: #ed1c24;
    font-size: 13px;
}

.header-top--content {
    display: flex;
    justify-content: space-evenly;
}

.header-top--content span:nth-child(2) {
    color: red;
}

.header-hotline {
    font-size: 14px;
    line-height: 40px;
}

.header-list {
    line-height: 40px;
}

.header-body {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.header-body--content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__responsive__icons {
    display: none;
}

.header-right-corner {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.header-body-2 {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 100%;
}

.header-logo img {
    height: 100%;
}

.header-body-2 .header-logo {
    height: 100%;
    width: 20%;
}

.header-body-2 .header-logo img {
    width: 100%;
    height: 100%;
}

.header-body-2 ul.sub-nav {
    margin-top: 0;
    margin-left: 14.5px;
}

.header-body-2 ul {
    margin-top: 1rem;
}

.search__icon,
.search__icon__2 {
    position: relative;
}

.search__icon:hover .search__box__container,
.search__icon__2:hover .search__box__container__2 {
    display: block;
}

.search__box__container,
.search__box__container__2 {
    position: absolute;
    top: 80%;
    right: -190%;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    background-color: #fdfff5;
}

.search__box,
.search__box__2 {
    display: flex;
    align-items: center;
    padding: 8px 40px;
}

.search__box__left input,
.search__box__left__2 input {
    border-style: solid;
    border-width: thin;
    border-right: none;
    outline: none;
    border-color: #f5f5f5;
    background-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 6px 14px;
}

.search__box__right,
.search__box__right__2 {
    background-color: #333333;
    padding: 7px 10px;
}

.search__box__right i,
.search__box__right__2 i {
    color: #ffffff;
}

.spinner,
.spinner__2 {
    display: none;
}

.fa-spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

/* Homepage Start */
.home-banner {
    margin-top: 13rem;
}

.owl-stage {
    position: relative;
}

.owl-stage-leftButton {
    position: absolute;
    background-color: red;
}

.owl-stage-rightButton {
    position: absolute;
    background-color: green;
}

.home-banner-2 {
    width: 100%;
    background-color: var(--vang);
    padding: 4rem 0;
}

.home-banner img {
    width: 100%;
    height: 550px;
}

.home-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-banner-content article:nth-child(3) {
    border: none;
}

.home-banner-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 13rem;
    border-right: 1px solid #ffffff;
    color: #080808;
}

.home-banner-article:nth-child(3) {
    border-right: none;
}

.home-banner-icon i {
    font-size: 40px;
}

.home-banner-text {
    margin-top: 14px;
}

.home-banner-text h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--vang);
    font-weight: 600;
}

.menu-title::after {
    position: absolute;
    content: '';
    width: 30%;
    height: 4px;
    top: 16px;
    right: 0;
    background: var(--cam);
    box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
}

.menu-title::before {
    position: absolute;
    content: '';
    width: 30%;
    height: 4px;
    top: 16px;
    left: 0;
    background: var(--cam);
    box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
}

.product-box {
    width: 100%;
    cursor: pointer;
}

.product-img-box {
    height: 220px;
    z-index: 2;
    overflow: hidden;
}

.product-img-box img {
    transition: transform 0.5s ease;
    height: 100%;
}

.product-img-box:hover img {
    transform: scale(1.5);
}

.product-content-box {
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-content-box p {
    margin: 0 !important;
    font-size: 13px;
    text-align: center;
}

.product-title a {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #333 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-title a:hover {
    color: var(--vang) !important;
}

.origin__price {
    color: #1d6397;
    font-weight: bold;
    font-style: italic;
}

.sale__price {
    color: #ff0000;
}

.product__btn button {
    background-color: var(--cam);
    border-color: var(--cam);
    color: #ffffff;
}

.product__btn button:hover {
    color: var(--vang);
}

.product-content-box {
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box:hover .product-content-box {
    transition: all 0.05s;
    border-bottom-width: 2px;
    border-bottom-color: var(--xanh);
}

.steps__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 16rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.modal__signin {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50000;
    display: flex;
    display: none;
}

.modal__login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60000;
    display: flex;
    display: none;
}

.modal__overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto auto auto auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
}

.modal__login__header__icon,
.modal__header__icon {
    position: relative;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal__login__header__icon__close,
.modal__header__icon__close {
    position: absolute;
    top: 0px;
    right: 0;
    color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 6px;
    padding: 0px 8px;
}

.modal__login__header__icon__close i,
.modal__header__icon__close i {
    font-size: 28px;
}

.modal__login__header__icon__close i:hover,
.modal__header__icon__close i:hover {
    color: #333;
    cursor: pointer;
}

.modal__footer__login,
.modal__footer {
    padding: 50px 90px;
}

.modal__footer__login__text,
.modal__footer__text {
    text-align: center;
}

.modal__footer__login__text p,
.modal__footer__text p {
    width: 88%;
    align-self: center;
    margin-left: 29px;
    color: #bebebe;
}

.modal__footer__login__input,
.modal__footer__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modal__footer__login__input input,
.modal__footer__input input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #f2f2fa;
    text-align: center;
    outline: none;
}

.modal__footer__login__input button,
.modal__footer__input button {
    width: 50%;
    padding: 8px;
    border: none;
    color: #ffffff;
    background-image: linear-gradient(225deg, #e0a825, #fde880);
}

.modal__footer__login__input button:hover,
.modal__footer__input button:hover {
    opacity: 0.5;
}

/*ABOUT*/
section.v-about {
    padding: 6rem 0;
    background-color: #f7f7f7;
}

.v-about_title {
    position: relative;
    padding-left: 25px;
    margin-bottom: 2rem;
}

.v-about_title p {
    /* font-size: 16px; */
    color: #000;
    margin-bottom: 0;
}

.v-about_title h2 {
    font-family: var(--xanh);
    font-size: 2.8rem;
}

.v-about_title h2 span {
    color: var(--cam);
    font-size: 2rem;
}

.v-about_title:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: var(--cam);
}

.v-about-text > p {
    line-height: 26px;
    margin-bottom: 20px;
}

.v-about_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-about_img span img {
    height: 125px;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.v-about_img span {
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-v-about {
    text-transform: uppercase;
    color: #996e11;
    font-size: 12px;
    border: 2px solid #b8b8b8;
    padding: 4px 3px;
    display: block;
    width: 120px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 8px;
    background-color: #fff;
}

.btn-v-about:hover {
    transition: all 0.05s;
    background-color: var(--cam);
    color: #fff;
    border-color: var(--cam);
}

.v-about-img a {
    display: block;
}

.v-about-img a img {
    width: 100%;
    height: auto;
}
.v-about_img img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border: 3px solid #fff;
}
.v-about_img .owl-nav button {
    top: 40%;
}

.v-about_img .owl-nav button i {
    font-size: 30px;
    color: #000;
}

.v-about_img .owl-nav button.owl-prev {
    left: -20px;
}

.v-about_img .owl-nav button.owl-next {
    right: -20px;
}

.dot {
    background-color: #e9eef1;
}

.feedback__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.feedback__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 40px;
}

.feedback__image {
    height: fit-content;
    width: 100%;
}

.feedback__image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px auto;
    display: block;
}

.feedback__icon__quote i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
}

.feedback__icon__start i {
    color: #ffea00;
}

.feedback__text {
    font-style: italic;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

.feedback__text__name {
    font-weight: bold;
}

.partner__container {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.partner__logo img {
    height: 8rem;
}

.contact__now__content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact__now__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 2rem;
}

.contact__now__information span {
    display: flex;
    align-items: center;
    color: #080808;
}

.contact__now__information span div {
    display: flex;
    flex-direction: column;
}

.contact__now__information span div a {
    color: #080808;
}

.contact__now__information span div a:hover {
    transition: all 0.5s;
    color: #0072b7;
}

.contact__now__information span i {
    color: var(--vang);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: 355rem !important;
}

/* Homepage End */

/* Introduction Start */
.content__container .background-image {
    height: 100%;
    background-image: url('https://palletvina.com/wp-content/themes/vdigi/assets/images/banner-about.png');
    background-size: cover;
}
.title {
    color: var(--vang);
}

.introduction-title {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

.introduction-title h3 {
    font-size: 18px;
}

.introduction-text ul {
    list-style-type: circle;
    padding: 0 !important;
}

.introduction-text ul li {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: start;
    text-decoration: dotted !important;
    cursor: default;
}

.introduction-text ul li:hover {
    transition: all 0.05s;
    background-color: transparent;
}

.section__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__header h3 {
    font-size: 18px;
    color: var(--vang);
    margin-bottom: 8px;
}

.section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.reasons__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.reason-title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.reasons__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.reason {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    transition: height 0.5s;
    background-color: transparent;
    border-style: solid;
    border-color: #e9e9e9;
    color: var(--vang);
    cursor: pointer;
}

.reason h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.reason__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.reason p {
    margin-top: 0.8rem;
    color: #333;
    display: none;
}

.reason.open {
    transition: height 0.5s;
    display: flex;
    align-items: center;
}

.reason.open p {
    display: flex;
    gap: 1rem;
}

.contact {
    background-color: #222222;
    margin-top: 2rem;
}

.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact__left,
.contact__right {
    padding: 4rem 0;
}

.contact__left {
    color: #fff;
}

.contact__left p {
    color: #c0c0c0;
}

.contact__left h3 {
    color: var(--vang);
}

.contact__right {
    color: #fff;
}

.contact__right a {
    background-color: var(--vang);
    border-radius: 999px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__right span {
    color: #fff;
    text-transform: uppercase;
}

.business__title {
    text-align: center;
    margin-top: 2rem;
    color: var(--vang);
}

.business__branch {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.business__branch__right ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 0;
}

.business__branch__right ul li:hover {
    background-color: transparent !important;
}

.business__branch__right p {
    font-weight: bold;
    color: var(--vang);
}

.business__branch__right ul li {
    padding: 0;
}

.business__branch__right a span {
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}
/* Introduction End */

/* Product Start */
.background {
    margin-top: 15rem;
    height: 20rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.product__container .background-image {
    height: 100%;
    background-image: url('/img/pallet.jpg');
    background-size: cover;
}

.background-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
}

.background-text h3 a {
    font-size: 28px !important;
    font-weight: bolder;
}

.gird-content {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 !important;
}

.grid-content-left h4 {
    background: var(--cam);
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.grid-content-left ul {
    text-align: start;
    padding: 0 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-style: solid;
    border-width: thin;
    border-color: #e5e5e5;
    border-top-color: transparent;
    border-radius: 8px;
}

.grid-content-left ul li {
    position: relative;
    padding: 5px 22px;
    margin-top: 2rem;
    color: #334862;
    text-align: start;
}

.grid-content-left ul li a:hover {
    color: #080808;
}

.grid-content-left ul li::after {
    position: absolute;
    content: '';
    width: 84%;
    height: 1px;
    bottom: 0;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sub__item__container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 8px;
    margin-top: 8px;
}

.sub__item__container a {
    color: #333;
}

.grid-content-left ul li:nth-last-child(1)::after {
    position: absolute;
    content: '';
    width: 84%;
    height: 1px;
    bottom: 0;
    left: 20px;
    background-color: transparent;
}

.item__container {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.grid-content-left a:hover {
    color: var(--cam) !important;
}

.grid-content-left,
.grid-content-right {
    margin-top: 4rem;
}

.grid-content-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-content-right p {
    font-size: 18px;
    margin: 0 !important;
    padding: 4px 0 4px 0;
}

.grid-content-right-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.product-article {
    cursor: pointer;
}

.product-image {
    position: relative;
    overflow: hidden;
    height: 50%;
}

.product-image img {
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.product-image:hover img {
    transform: scale(1.5);
}

.product-article:hover .product-heart i {
    transition: all 0.8s;
    display: inline;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-info button {
    margin-top: 8px;
}

.product-name {
    margin-top: 10px;
    font-weight: 700;
}

.product-name h5 {
    font-size: 16px !important;
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Product End */

/* News Start */
.news__container .background-image {
    height: 100%;
    background-image: url('/img/news.jpg');
    background-size: cover;
    position: relative;
}

.grid-news-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.news-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    cursor: pointer;
}

.news-image {
    position: relative;
    height: 80%;
    overflow: hidden;
}

.news-image img {
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}

.news-image:hover img {
    transform: scale(1.5);
}

.news-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #100c08;
    margin: 0 20px 18px;
}

.news-description {
    height: 50%;
}

.news-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-icons span {
    font-size: 18px;
}

.new-icons i {
    font-size: 22px;
}

.new-icons i:hover {
    color: var(--cam);
}
/* News End */

/* News Detail Start  */
.news__detail__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 80% 20%;
}

.news__detail__sub__title {
    margin-top: 16px;
}

.news__detail__sub__title p {
    font-size: 0.7rem;
    font-weight: bold;
}

.news__detail__content__header h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--vang);
}

.news__detail__content__time p {
    margin-top: 20px;
    font-size: 0.7rem;
}

.news__detail__content__img {
    text-align: center;
}

.news__detail__content__img img {
    width: 100%;
}

.news__detail__content__img p {
    margin: 20px 0;
    font-size: 13px;
}

.news__detail__content__text p {
    font-size: 14px;
    font-weight: 400;
}

.news__detail__content__text img {
    width: 80%;
}

.news__detail__content__text__sub__image {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}

.news__detail__content__text__sub__image img {
    width: 100%;
}

.news__detail__content__watch__more span {
    color: var(--cam);
    font-size: 14px;
    font-weight: bolder;
}

.news__detail__content__watch__more a {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
}

.news__detail__content__fanpage {
    display: flex;
    align-items: center;
    gap: 4px;
}

.news__detail__content__fanpage p {
    margin: 0 !important;
    font-size: 14px;
    font-weight: bolder;
    color: var(--cam);
}

.news__detail__content__fanpage a {
    color: #333;
    font-size: 14px;
}

.news__detail__container__right {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.news__detail__container__right h3 {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 8px;
}

.news__detail__container__right h3::after {
    position: absolute;
    content: '';
    width: 12%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #e5e5e5;
}

.news__detail__container__right a {
    position: relative;
}

.news__detail__container__right a img {
    width: 100%;
    position: relative;
}

.news__detail__container__right a p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: bolder;
}
/* News Detail End  */

/* Contact Start */
.map-title {
    margin-top: 20rem;
    background-color: #f5f5f5;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
}

.map-title p {
    margin: 0;
    font-size: 18px;
    color: var(--vang);
    margin-left: 10rem;
}

.form-contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    background-color: #f5f5f5;
    border-radius: 70px;
    padding: 2rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-input h4 {
    position: relative;
    padding-bottom: 10px;
    color: var(--vang);
}

.form-input h4::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, #996e11, #ececec);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.form-input input {
    padding: 10px;
    margin-bottom: 2rem;
    border-style: solid;
    border-color: #ddd;
    outline: none;
}

.form-input textarea {
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    outline: none;
}

.form-input a {
    display: flex;
    align-self: center;
}

.form-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 35%;
}

.form-info h4 {
    color: var(--vang);
    position: relative;
    padding-bottom: 10px;
}

.form-info > h4::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, #996e11, #ececec);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.form-info-article article {
    margin-bottom: 6px;
}
/* Contact End */

/* Detail Start */
.detail__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detail__main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 36% 35% 20%;
    gap: 2rem;
}

.detail__container__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10px;
    margin-left: 3rem;
}

.detail__container__left__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.detail__container__left__img img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    touch-action: manipulation;
}

.detail__container__left__img:hover img {
    transform: scale(1.5);
}

.detail__container__sub__img {
    display: flex;
    gap: 2rem;
}

.detail__container__sub__img img {
    width: 20%;
    opacity: 0.75;
}

.detail__container__sub__img img:hover {
    opacity: 1;
    transition: all 0.8s;
    cursor: pointer;
}

.detail__container__right__title h3 {
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.detail__container__right__title h3::after {
    position: absolute;
    content: ' ';
    width: 30%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0%;
}

.detail__container__right__desc img {
    width: 100%;
}

.detail__container__right__desc p {
    font-weight: bold;
}

.detail__container__right__desc span {
    font-weight: normal;
}

.detail__container__right__desc p:nth-child(6) {
    position: relative;
    padding: 10px 0;
}

.detail__container__right__desc p:nth-child(6)::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
}

.detail__container__right__desc p:nth-child(6)::after {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

.detail__container__right__desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail__container__right__btn {
    display: flex;
    margin-top: 1rem;
}

.detail__container__right__btn button {
    width: 60%;
    padding: 10px 10px;
    border-color: transparent;
    background-color: var(--vang);
    color: #ffffff;
    background-image: linear-gradient(225deg, #e0a825, #fde880);
    margin-right: 10px;
}

.detail__container__right__btn button:hover {
    transition: ease-in-out 0.05s;
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.detail__container__right__social__icon {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.detail__container__right__social__icon i {
    font-size: 20px;
    margin-right: 5px;
}

.detail__container__right__social__icon i:nth-child(1) {
    background-color: #3a589d;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 4px;
}

.detail__container__right__social__icon i:nth-child(1):hover {
    background-color: #2e467e;
}

.detail__container__right__social__icon i:nth-child(2) {
    background-color: #2478ba;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 4px;
}

.detail__container__right__social__icon i:nth-child(2):hover {
    background-color: #2e467e;
}

.detail__container__right__social__icon i:nth-child(3) {
    background-color: #111;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 4px;
}

.detail__container__right__social__icon i:nth-child(3):hover {
    background-color: #2e467e;
}

.detail__container__right__social__icon i:nth-child(4) {
    background-color: #0072b7;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 4px;
}

.detail__container__right__social__icon i:nth-child(4):hover {
    background-color: #2e467e;
}

.detail__container__promise {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: thin;
    padding: 10px 10px;
    height: fit-content;
}

.detail__container__promise__subtext i {
    color: var(--vang);
}

.detail__container__promise p {
    margin-bottom: 0;
}

.detail__container__promise h3 {
    color: var(--vang);
    font-weight: bold;
    position: relative;
    margin-top: 12px;
    padding-bottom: 10px;
    text-align: center;
}

.detail__container__promise h3::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 4px;
    width: 95%;
    height: 1px;
    background-color: #e5e5e5;
}

.detail__container__promise span {
    display: flex;
    padding: 10px 0;
    padding-bottom: 10px;
}

.detail__container__promise p {
    font-weight: bold;
    margin-left: 10px;
}

.detail__container__promise p {
    font-size: 18px;
}

.detail__container__promise i {
    font-size: 18px;
}

.detail__description {
    margin-left: 4rem;
    margin-right: 4rem;
}

.detail__description ul {
    padding: 0 !important;
}

.detail__description li {
    cursor: default !important;
}

.detail__description li:hover {
    background-color: transparent;
}

.question__container {
    margin-left: 4rem;
    margin-top: 4rem;
    width: 50%;
}

.question__container h3 {
    color: var(--vang);
    font-weight: bold;
    position: relative;
}

.question__container h3::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #996e11, #ececec);
    border-width: thin;
}

.question__form {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: thin;
    margin-top: 14px;
}

.question__form__text {
    padding: 28px;
}

.question__form__header p {
    font-size: 18px;
    color: var(--vang);
    font-weight: bold;
}

.question__form__starts p {
    font-weight: bold;
}

.starts {
    display: flex;
    gap: 2rem;
}

.starts span {
    border-right: 1px solid #27262673;
}

.starts span:nth-child(5) {
    border-right-color: transparent;
}

.starts span:hover {
    color: #ffcc00;
}

.starts > span > i {
    padding-right: 4px;
    margin-right: 6px;
}

.question__form__comment p {
    margin-top: 14px;
    font-weight: bold;
}

.question__form__comment textarea {
    width: 100%;
    outline: none;
    border-color: #dddddd;
}

.question__form__name__email {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 14px;
}

.question__form__name__email label {
    font-weight: bold;
}

.question__form__name__email input {
    padding: 4px 0;
    outline: none;
    border-style: solid;
    border-color: #dddddd;
}

.question__form__name {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.question__form__email {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.question__form__box {
    margin-top: 14px;
    display: flex;
    gap: 6px;
}

.question__form__box label {
    font-weight: bold;
}
/* Detail End */

/* Sale Start */
.sale__title {
    margin-top: 16rem;
}

.sale__banner {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 18px;
}

.sale__banner__image {
    overflow: hidden;
}

.sale__banner__image img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.sale__banner__image:hover img {
    transform: scale(1.5);
    opacity: 0.9;
}

.sale__banner__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--cam);
    color: #080808;
    padding: 35px 34px;
}

.sale__banner__text strong {
    font-size: 20px;
}

.sale__banner__text p {
    font-size: 16px;
    margin: 0 !important;
}

.sale__product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale__product__container__title {
    margin-top: 2rem;
}

.sale__product__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8rem;
}

.sale__product__box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sale__product__box__image {
    overflow: hidden;
}

.sale__product__box__image img {
    width: 100%;
}

.sale__product__box__image:hover img {
    transform: scale(1.5);
    transition: transform all ease-in-out;
}

.sale__product__box__text {
    margin: 0 14px 0 14px;
}

.sale__product__box__text__title {
    margin-top: 8px;
}

.sale__product__box__text__title p {
    margin-bottom: 4px !important;
    font-size: 16px;
}

.sale__product__box__text__price {
    margin-bottom: 10px;
}

.sale__product__box__text__old__price i {
    font-style: italic;
    text-decoration: line-through;
    color: #1d6397;
}

.sale__product__box__text__new__price i {
    font-weight: bold;
    color: #ff0000;
}

.sale__product__box__button {
    margin-left: 14px;
    margin-bottom: 8px;
}

/* Sale End */

/* Footer Start */
.information {
    display: flex;
}

.information i {
    margin-right: 2rem;
}

.phone__information {
    display: flex;
    flex-direction: column;
}

.social-icon > i {
    color: #fff;
}

.information:hover,
.social-icon > i:hover,
.footer-heading > p:hover {
    transition: all 0.05s;
    color: #c19e52;
}

.news-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news-box img {
    width: 100%;
    height: 250px;
}

.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 1em;
    width: 100%;
    max-width: 30px;
}

.to-top-btn {
    position: fixed;
    right: 16px;
    bottom: 16px;
    margin-top: 30px;
    height: 40px;
    width: 40px;
    background-color: var(--cam);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.to-top-btn:hover {
    transition: all 0.5s;
    color: #ffffff;
    background-color: var(--vang);
}

.to-top-btn i {
    color: #ffffff;
    font-size: 36px;
}

.social-icons-container {
    position: fixed;
    bottom: 8rem;
    right: 14px;
    width: 50px;
    height: fit-content;
    z-index: 20000;
}

.social-icons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.social-icon-right a {
    display: inline-block;

    transform-origin: 50% 4px;
    border-radius: 999px;
    padding: 6px;
}

.social-icon-right img {
    width: 35px;
    border-radius: 999px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    animation: fly 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(30deg);
    }
    10% {
        transform: rotate(-28deg);
    }
    15% {
        transform: rotate(34deg);
    }
    20% {
        transform: rotate(-32deg);
    }
    25% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(-28deg);
    }
    35% {
        transform: rotate(26deg);
    }
    40% {
        transform: rotate(-24deg);
    }
    45% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(18deg);
    }
    60% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(14deg);
    }
    70% {
        transform: rotate(-12deg);
    }
    75% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-8deg);
    }
    85% {
        transform: rotate(6deg);
    }
    90% {
        transform: rotate(-4deg);
    }
    95% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes colors {
    0% {
        stroke: #4285f4;
    }
    25% {
        stroke: #de3e35;
    }
    50% {
        stroke: #f7c223;
    }
    75% {
        stroke: #1b9a59;
    }
    100% {
        stroke: #4285f4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 187/4;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.footer__grid {
    gap: 2rem;
}

.footer-check {
    height: 104px;
    display: flex;
    justify-content: space-around;
}

.footer-check img {
    width: 150%;
}

.footer-text {
    margin-top: 38px;
}

.footer-text a:hover {
    color: var(--vang) !important;
}

.footer-text p:hover {
    transition: all 0.05s;
    color: var(--vang);
}

.footer__heading__iframe {
    display: flex;
    gap: 2rem;
}
/* Footer End */

/* Search Page Start */
.search__container .background-image {
    height: 100%;
    background-image: url('https://muabanpalletnhuacu.com/wp-content/uploads/2022/02/banner7.jpg');
    background-size: cover;
    position: relative;
}
/* Search Page End */

/* Tablet Responsive Start*/
@media screen and (max-width: 1024px) {
    h6 {
        color: #c19e52;
        text-align: start;
        font-size: 20px;
    }

    p {
        margin: 0 !important;
    }

    .header-top--content {
        display: flex;
        justify-content: center;
    }

    .header-top--content span:nth-child(1) {
        display: none;
    }

    .header-top--content span:nth-child(2) {
        margin-left: 130px;
    }

    .header-top--content span:nth-child(3) {
        display: none;
    }

    .header-right-corner {
        display: none;
    }

    .header__responsive__icons {
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    .header__responsive__icons__left {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .header__responsive__icons__left i {
        padding: 20px;
    }

    .header__responsive__icons__left i:hover {
        transition: all linear 1s;
        background-color: var(--cam);
    }

    .header-body--content {
        justify-content: end;
    }

    .sub-nav {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 10rem;
        right: 5%;
        height: fit-content;
        width: 16rem;
        flex-direction: column;
        text-align: start;
        display: none;
    }

    .nav-menu li {
        padding: 0;
        width: 100%;
        height: 5.8rem;
        font-weight: bold;
        animation: animateNavItems 300ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu__input,
    .nav__menu__2__input {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cam);
    }

    .nav__menu__input:hover,
    .nav__menu__2__input:hover {
        background-color: var(--cam) !important;
    }

    .nav__menu__input input,
    .nav__menu__2__input input {
        border: none;
        outline: none;
        padding: 10px 4px;
        border-radius: 5px;
    }

    .nav__menu__input input:focus,
    .nav__menu__2__input input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }

    .nav-menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav-menu li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav-menu li:nth-child(4) {
        animation-delay: 400ms;
    }

    .nav-menu li:nth-child(5) {
        animation-delay: 500ms;
    }

    .nav-menu li:nth-child(6) {
        animation-delay: 600ms;
    }

    .nav-menu i {
        display: none;
    }

    .nav-menu li a {
        color: var(--vang);
        background-color: var(--cam);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    button#open-menu-btn {
        border-color: transparent;
        background-color: transparent;
    }

    button#close-menu-btn {
        display: none;
        border-color: transparent;
        background-color: transparent;
    }

    .nav-menu-2 .sub-nav {
        padding-left: 10px;
    }

    .nav-menu-2 i {
        display: none;
    }

    button#open-menu-btn-2 {
        display: block;
        position: relative;
        top: -6px;
        left: 242px;
        border-color: transparent;
        background-color: transparent;
    }

    button#close-menu-btn-2 {
        display: none;
        position: relative;
        top: -6px;
        left: 242px;
        border-color: transparent;
        background-color: transparent;
    }

    .open-menu-btn i {
        font-size: 34px;
    }

    .close-menu-btn i {
        font-size: 34px;
    }

    .open-menu-btn-2 i {
        font-size: 28px;
    }

    .close-menu-btn-2 i {
        font-size: 28px;
    }

    .nav-menu-2 {
        position: fixed;
        top: 4rem;
        right: 7%;
        height: fit-content;
        width: 16rem;
        flex-direction: column;
        text-align: start;
        display: none;
    }

    .nav-menu-2 li {
        padding: 0;
        width: 100%;
        height: 5.8rem;
        font-weight: bold;
        animation: animateNavItems 300ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav-menu-2 li a {
        color: var(--vang);
        background-color: var(--cam);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav-menu-2 li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav-menu-2 li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav-menu-2 li:nth-child(4) {
        animation-delay: 400ms;
    }

    .nav-menu-2 li:nth-child(5) {
        animation-delay: 500ms;
    }

    .nav-menu-2 li:nth-child(6) {
        animation-delay: 600ms;
    }

    .home-content {
        margin-top: 36px;
    }

    .home-banner-article {
        padding: 18px 116px;
        border-right: 1px solid #ffffff;
    }

    .home-banner-icon i {
        font-size: 40px;
    }

    .home-banner-text h3 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .product-title a {
        font-size: 13px;
    }

    .social-icon {
        display: flex;
        gap: 2rem;
    }

    .information {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }

    .steps__image {
        margin-left: 4rem;
    }

    .menu-title::before {
        width: 20%;
    }

    .menu-title::after {
        width: 20%;
    }

    .contact__now__map iframe {
        width: 400px;
    }

    .contact__now__content {
        justify-content: space-between;
    }

    .contact__now__information strong {
        font-size: 12px;
    }

    .background {
        margin-top: 15rem;
        height: 14rem;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .introduction-title {
        margin-top: 16rem;
        display: flex;
        justify-content: center;
    }

    .introduction-title h3 {
        font-size: 16px;
        text-align: center;
    }

    .introduction-text ul li {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        text-align: start;
        font-size: 14px;
        cursor: default;
    }

    .contact__left h3 {
        color: var(--vang);
        font-size: 14px;
    }

    .contact__right a {
        background-color: var(--vang);
        border-radius: 999px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .starts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .starts span {
        border-right: transparent;
        border-bottom: 1px solid #27262673;
    }

    .starts span:nth-child(5) {
        border-bottom-color: transparent;
        margin-bottom: 2rem;
    }

    .business__title h2 {
        font-size: 18px;
    }

    .product-name h5 {
        font-size: 16px;
        text-align: center;
    }

    .gird-content {
        grid-template-columns: 30% 76%;
    }

    .grid-content-left h4 {
        background: var(--cam);
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        width: 100%;
        padding: 14px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .grid-content-left ul li {
        position: relative;
        padding: 5px 22px;
        margin-top: 2rem;
        color: #334862;
        text-align: center;
    }

    .grid-content-right p {
        font-size: 13px;
    }

    .grid-news-content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .detail__container__right__btn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .detail__container__right__btn button {
        align-self: self-start;
        width: 40%;
        padding: 5px;
    }

    .news-title p {
        font-size: 14px;
        font-weight: 700;
    }

    .question__form__box label {
        font-weight: bold;
        font-size: 14px;
    }

    .form-contact {
        display: flex;
        align-items: center;
        margin-top: 4rem;
        background-color: #f5f5f5;
        border-radius: 70px;
        padding: 2rem;
    }

    .detail__container__promise {
        display: none;
    }

    .reason.open {
        transition: height 0.5s;
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 7px;
    }

    .sale__product__box__text__new__price i {
        font-size: 13px;
    }

    .detail__main {
        grid-template-columns: 40% 50%;
        gap: 4rem;
    }

    .footer__grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer__column {
        width: 100% !important;
    }

    .footer-heading {
        display: flex;
        flex-direction: column;
    }

    .footer-text {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        gap: 2rem;
        text-align: start;
    }

    .footer-check img {
        width: 50%;
    }

    .footer__heading__iframe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
}
/* Tablet Responsive End */

/* Mobile Responsive Start  */
@media screen and (max-width: 600px) {
    .partner__logo img {
        height: 6rem;
        width: 6rem;
    }

    .mySwiper {
        margin-left: 3rem !important;
    }

    .map-title p {
        font-size: 12px;
    }

    button#open-menu-btn {
        display: block;
        position: relative;
        left: -10px;
        border-color: transparent;
        background-color: transparent;
    }

    button#close-menu-btn {
        display: block;
        position: relative;
        left: -10px;
        border-color: transparent;
        background-color: transparent;
        display: none;
    }

    button#open-menu-btn-2 {
        display: block;
        position: relative;
        left: 130px;
        border-color: transparent;
        background-color: transparent;
    }

    button#close-menu-btn-2 {
        display: none;
        position: relative;
        left: 130px;
        border-color: transparent;
        background-color: transparent;
    }

    .open-menu-btn i {
        font-size: 25px;
    }

    .close-menu-btn i {
        font-size: 25px;
    }

    .menu-title::after,
    .menu-title::before {
        display: none;
    }

    .header-logo img {
        width: 300%;
    }

    .header-body {
        width: 100%;
    }

    .header-top--content span:nth-child(2) {
        font-size: 10px;
        text-align: start;
        padding: 0 !important;
        margin: 0 !important;
    }

    .home-banner-content {
        flex-direction: column;
    }

    .home-banner-article {
        border-right: none;
        border-bottom: 1px solid #ffffff;
        width: 70%;
    }

    .steps__image {
        margin-left: 0rem !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .steps__image img {
        width: 100%;
    }

    .menu-title {
        font-size: 20px;
    }

    .contact__now__content {
        flex-direction: column;
    }

    .contact__now__information {
        width: 100%;
    }

    .contact__now__information strong {
        font-size: 16px;
    }

    .contact__now__information span i {
        margin-right: 1rem;
    }

    .feedback__container {
        flex-direction: column;
        gap: 4rem;
    }

    .contact__container {
        flex-direction: column;
    }

    .contact__left {
        text-align: center;
        padding: 1rem 0 0 0;
    }

    .contact__right {
        padding: 1rem 0;
    }

    .gird-content {
        grid-template-columns: 100%;
    }

    .grid-content-left {
        display: none;
    }

    .grid-content-right-product {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-news-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .sale__banner {
        grid-template-columns: none;
    }

    .sale__product__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-top: 1rem;
    }

    .sale__product__box__text__price i {
        font-size: 16px;
    }

    .footer__heading__iframe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__right span {
        font-size: 12px;
    }

    .detail__main {
        grid-template-columns: none;
        gap: 2rem;
    }

    .detail__container__left {
        margin: 0;
        padding: 0;
    }

    .detail__container__right {
        margin-left: 1rem;
    }

    .detail__container__sub__img img {
        width: 10%;
    }

    .detail__description {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .detail__container__right__title {
        width: 80%;
    }

    .question__container {
        margin-left: 1rem;
        margin-top: 4rem;
        width: 80%;
    }

    .question__form__header p {
        font-size: 12px;
    }

    .question__form__starts p {
        font-size: 12px;
    }

    .form-contact {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .form-info {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .question__form__name__email {
        flex-direction: column;
    }

    .question__form__name,
    .question__form__email {
        width: 100%;
    }

    .news__detail__container {
        grid-template-columns: none;
    }

    .news__detail__container__left {
        width: 90%;
    }

    .news__detail__content__header {
        width: 80%;
    }

    .news__detail__content__header h3 {
        font-size: 1.5rem;
    }

    .news__detail__container__right {
        display: none;
    }

    .news__detail__content__text img {
        width: 100%;
    }

    .news__detail__content__watch__more a {
        margin-left: 0;
    }

    .news__detail__content__watch__more,
    .news__detail__content__fanpage {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
/* Mobile Responsive End  */
