<div class='container sale__container'>
    <div class='menu-title sale__title'>Khuyến mãi</div>
    <div class='sale__banner'>
        <div class='sale__banner__image'>
            <img
                src='https://hhfurniture.com.vn/wp-content/uploads/2022/03/257726008_637555894291243_8469913468389725331_n-1024x437.jpg'
                alt='sale banner'
            />
        </div>
        <div class='sale__banner__text'>
            <h3>Khuyến mãi</h3>
            <p>Chương trình áp dụng cho tất cả khách hàng mua sắm online và trực tiếp tại cửa hàng.</p>
            <p>Nếu bạn đang tìm cho ngôi nhà của mình đồ nội thất chất lượng và cao cấp với giá cả hấp dẫn chưa từng có
                thì đừng chần chờ nữa.
            </p>
            <h3>CHỚT DEAL NGAY!</h3>
            <div class='sale__banner__text__button'>
                <button type='button' class='btn btn-outline-dark'>Click here</button>
            </div>
        </div>
    </div>
    <div class='sale__product__container'>
        <div class='menu-title sale__product__container__title'>
            Pallet
        </div>
        <div class='sale__product__content'>
            <div class='sale__product__box rounded'>
                <div class='sale__product__box__image'>
                    <a href='sales/slug'>
                        <img src='https://picsum.photos/200/300' alt='product' class='rounded-top' />
                    </a>
                    <div class='ribbon'>
                        <span class='ribbon1'><span>Giảm 10%</span></span>
                    </div>
                </div>
                <div class='sale__product__box__text'>
                    <div class='sale__product__box__text__title'>
                        <p>Old Pallet</p>
                    </div>
                    <div class='sale__product__box__text__price'>
                        <div class='sale__product__box__text__old__price'>
                            <i>1.0000.0000 VNĐ</i>
                        </div>
                        <div class='sale__product__box__text__new__price'>
                            <i>990 VNĐ</i>
                        </div>
                    </div>
                </div>
                <div class='sale__product__box__button'>
                    <a href='sales/slug'>
                        <button type='button' class='btn btn-outline-warning'>Mua ngay</button>
                    </a>
                </div>
            </div>
            <div class='sale__product__box'>
                <div class='sale__product__box__image'>
                    <img src='https://picsum.photos/200/300' alt='product' />
                    <div class='ribbon'>
                        <span class='ribbon1'><span>Giảm 10%</span></span>
                    </div>
                </div>
                <div class='sale__product__box__text'>
                    <div class='sale__product__box__text__title'>
                        <p>Old Pallet</p>
                    </div>
                    <div class='sale__product__box__text__price'>
                        <div class='sale__product__box__text__old__price'>
                            <i>1.0000.0000 VNĐ</i>
                        </div>
                        <div class='sale__product__box__text__new__price'>
                            <i>990 VNĐ</i>
                        </div>
                    </div>
                </div>
                <div class='sale__product__box__button'>
                    <button type='button' class='btn btn-outline-warning'>Mua ngay</button>
                </div>
            </div>
            <div class='sale__product__box'>
                <div class='sale__product__box__image'>
                    <img src='https://picsum.photos/200/300' alt='product' />
                    <div class='ribbon'>
                        <span class='ribbon1'><span>Giảm 10%</span></span>
                    </div>
                </div>
                <div class='sale__product__box__text'>
                    <div class='sale__product__box__text__title'>
                        <p>Old Pallet</p>
                    </div>
                    <div class='sale__product__box__text__price'>
                        <div class='sale__product__box__text__old__price'>
                            <i>1.0000.0000 VNĐ</i>
                        </div>
                        <div class='sale__product__box__text__new__price'>
                            <i>990 VNĐ</i>
                        </div>
                    </div>
                </div>
                <div class='sale__product__box__button'>
                    <button type='button' class='btn btn-outline-warning'>Mua ngay</button>
                </div>
            </div>
            <div class='sale__product__box'>
                <div class='sale__product__box__image'>
                    <img src='https://picsum.photos/200/300' alt='product' />
                    <div class='ribbon'>
                        <span class='ribbon1'><span>Giảm 10%</span></span>
                    </div>
                </div>
                <div class='sale__product__box__text'>
                    <div class='sale__product__box__text__title'>
                        <p>Old Pallet</p>
                    </div>
                    <div class='sale__product__box__text__price'>
                        <div class='sale__product__box__text__old__price'>
                            <i>1.0000.0000 VNĐ</i>
                        </div>
                        <div class='sale__product__box__text__new__price'>
                            <i>990 VNĐ</i>
                        </div>
                    </div>
                </div>
                <div class='sale__product__box__button'>
                    <button type='button' class='btn btn-outline-warning'>Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>