<!-- Footer -->
<footer class='text-center text-lg-start bg-light text-muted'>
    <!-- Section: Links  -->
    <section style='background-color: #1a1a1a;'>
        <div class='container text-center text-md-start p-4 mt-5'>
            <!-- Grid row -->
            <div class='row mt-3 footer__grid'>
                <!-- Grid column -->
                <div style='color: #7a9c59;' class='col-md-3 col-lg-4 col-xl-3 footer__column'>
                    <!-- Content -->
                    <h6 class='text-uppercase fs-4 fw-bold mb-4' style='color: #c19e52;'>
                        CÔNG TY TNHH SX TM DV XNK THÀNH DƯƠNG
                    </h6>
                    <div style='color:#fff;'>
                        <div class='information'>
                            <i class='uil uil-map'></i>
                            <p style='text-align: start;'>
                                Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </p>
                        </div>
                        <div class='information'>
                            <i class="uil uil-shop"></i>
                            <p>
                                Cửa hàng: 325/3A quốc lộ 1A kp3 Phường An Phú Đông, Quận 12
                            </p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-coins'></i>
                            <p>
                                MST: 0316730281
                            </p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-envelope'></i>
                            <p>Email: palletthanhduong.vn@gmail.com</p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-phone'></i>
                            <div class="phone__information">
                                <p>
                                    Liên hệ: 0971 632 793
                                </p>
                                <p>
                                    Liên hệ: 0901 770 979
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class='social-icon'>
                        <i class='fs-3 p-2 fab fa-facebook-f'></i>
                        <i class='fs-3 p-2 fab fa-instagram'></i>
                        <i class='fs-3 p-2 fab fa-twitter'></i>
                        <i class='fs-3 p-2 fab fa-pinterest-p'></i>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div style='color: #fff;' class='footer-heading footer__column col-md-3 col-lg-2 col-xl-2'>
                    <h6 style='color: #c19e52; margin-top: 10px;' class='text-uppercase fs-4 fw-bold mb-4'>
                        Sản phẩm
                    </h6>
                    <!-- Links -->
                    <div class='footer-text'>
                        <p>
                            <a href='#!' class='text-reset fs-5'>Pallet Nhựa Mới</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5'>Pallet Nhựa</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5'>Pallet Nhựa Cũ</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5'>Sóng Nhựa</a>
                        </p>
                    </div>
                    <div class='footer-check'>
                        <img src='https://namthinh.com/img/thongbaobocongthuong.png' alt='check' />
                    </div>
                </div>
                <!-- Grid column -->
                <div
                    style='color: #fff;'
                    class='footer-heading footer__heading__iframe footer__column col-md-3 col-lg-2 col-xl-2'
                >
                    <iframe
                        src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpalletthanhduong.vn&tabs=timeline&width=270&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId'
                        width='270'
                        height='300'
                        style='border:none;overflow:hidden'
                        scrolling='no'
                        frameborder='0'
                        allowfullscreen='true'
                        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
                    ></iframe>
                    <iframe
                        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.337572681636!2d106.70265801458987!3d10.86190869226359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752816da9cb0ef%3A0x1f4750ec350d3004!2zMjEgVsO1IFRo4buLIFRo4burYSwgQW4gUGjDuiDEkMO0bmcsIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1660982279060!5m2!1svi!2s'
                        width='270'
                        height='300'
                        style='border:0;'
                        allowfullscreen=''
                        loading='lazy'
                        referrerpolicy='no-referrer-when-downgrade'
                    ></iframe>
                </div>
                <!-- Grid column -->
                {{! <div style='color: #fff;' class='footer-heading col-md-3 col-lg-2 col-xl-2 mx-auto'>
                </div> }}
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Social Icons -->
    <div class='social-icons-container'>
        <div class='social-icons-content'>
            <div class='social-icon-right'>
                <a href='https://www.facebook.com/palletthanhduong.vn'>
                    <img src='/img/facebook.png' alt='facebook' />
                </a>
            </div>
            <div class='social-icon-right'>
                <a href='#'>
                    <img src='/img/phone.png' alt='phone' />
                </a>
            </div>
            <div class='social-icon-right'>
                <a href='#'>
                    <img src='/img/youtube.png' alt='youtube' />
                </a>
            </div>
            <div class='social-icon-right'>
                <a href='mailto:palletthanhduong.vn@gmail.com'>
                    <img src='/img/email.png' alt='email' />
                </a>
            </div>
            <div class='social-icon-right'>
                <a href=''>
                    <img src='/img/zalo.png' alt='zalo' />
                </a>
            </div>
        </div>
        <div class='to-top-btn'>
            <i class='uil uil-arrow-up'></i>
        </div>
    </div>
    <script type="text/javascript" src="https://web.cmbliss.com/webtools/hotline/js/hotline.js"></script>
    <script type="text/javascript">
        $("body").hotline({phone:"0971 632 793",themes:"hero",p_bottom:true,bottom:0,p_left:true,left:0,bg_color:"#ce7e00",abg_color:"#ce7e00",show_bar:true,position:"fixed",});
    </script>
</footer>
<!-- Footer -->