<!-- Footer -->
<footer class='text-center text-lg-start bg-light text-muted'>
    <!-- Section: Social media -->
    {{! <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
        <!-- Left -->
        <!-- Right -->
    </section> }}
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section style='background-color: #1a1a1a;'>
        <div class='container text-center text-md-start p-4 mt-5 footer'>
            <!-- Grid row -->
            <div class='row mt-3'>
                <!-- Grid column -->
                <div style='color: #7a9c59;' class='col-md-3 col-lg-4 col-xl-3 mx-auto mb-4'>
                    <!-- Content -->
                    <h6 class='text-uppercase fs-2 fw-bold mb-4' style='color: #c19e52;'>
                        CÔNG TY TNHH SX TM DV XNK THÀNH DƯƠNG
                    </h6>
                    <div style='color:#fff;'>
                        <div class='information'>
                            <i class='uil uil-map'></i>
                            <p>
                                Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-coins'></i>
                            <p>
                                MST: 0316730281
                            </p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-envelope'></i>
                            <p>Email: palletthanhduong.vn@gmail.com</p>
                        </div>
                        <div class='information'>
                            <i class='uil uil-phone'></i>
                            <p>
                                SĐT: 0971 632 793
                            </p>
                        </div>
                    </div>
                    <p class='social-icon'>
                        <i style='color: #fff;' class='fs-3 p-2 fab fa-facebook-f'></i>
                        <i style='color: #fff;' class='fs-3 p-2 fab fa-instagram'></i>
                        <i style='color: #fff;' class='fs-3 p-2 fab fa-twitter'></i>
                        <i style='color: #fff;' class='fs-3 p-2 fab fa-pinterest-p'></i>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div style='color: #fff;' class='footer-heading col-md-2 col-lg-2 col-xl-2 mx-auto mb-4'>
                    <!-- Links -->
                    <h6 style='color: #c19e52;' class='text-uppercase fs-4 fw-bold mb-4'>
                        Liên Kết
                    </h6>
                    <div class='footer-text'>
                        <p>
                            <a href='/' class='text-reset fs-5' target='_blank'>Trang chủ</a>
                        </p>
                        <p>
                            <a href='introduction' class='text-reset fs-5' target='_blank'>Giới thiệu</a>
                        </p>
                        <p>
                            <a href='product' class='text-reset fs-5' target='_blank'>Sản phẩm</a>
                        </p>
                        <p>
                            <a href='news' class='text-reset fs-5' target='_blank'>Tin tức</a>
                        </p>
                        <p>
                            <a href='contact' class='text-reset fs-5' target='_blank'>Liên hệ</a>
                        </p>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div style='color: #fff;' class='footer-heading col-md-3 col-lg-2 col-xl-2 mx-auto mb-4'>
                    <h6 style='color: #c19e52;' class='text-uppercase fs-4 fw-bold mb-4'>
                        Sản phẩm
                    </h6>
                    <!-- Links -->
                    <div class='footer-text'>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Gỗ</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Nhựa Mới</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Nhựa</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Nhựa Cũ</a>
                        </p>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div style='color: #fff;' class='footer-heading col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4'>
                    <h6 style='color: #c19e52;' class='text-uppercase fw-bold mb-4 fs-4'>Tin mới</h6>
                    <!-- Links -->
                    <div class='footer-text'>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>
                                Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418
                            </a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>
                                Giá Pallet Nhựa Cũ Bao Nhiêu?</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Nhựa Lót Sàn Giá Rẻ Cực Sốc</a>
                        </p>
                        <p>
                            <a href='#!' class='text-reset fs-5' target='_blank'>Pallet Nhựa Lót Sàn Sân Khấu Giá Rẻ</a>
                        </p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class='text-left p-4' style='background-color: #1a1a1a; border-top: 0.5px solid #e6e7e8; display: flex;'>
        <div class='container'>
            © 2022 Copyright:
            <a class='fs-6 text-reset' href='https://mdbootstrap.com/'>SUDTechnology.com</a>
        </div>
        <div class='to-top-btn'>
            <i class='uil uil-arrow-up'></i>
        </div>
    </div>
    <!-- Copyright -->
    <div class='phone'>
        <div class='wrapper'>
            <div class='ring'>
                <div class='coccoc-alo-phone coccoc-alo-green coccoc-alo-show'>
                    <div class='coccoc-alo-ph-circle'></div>
                    <div class='coccoc-alo-ph-circle-fill'></div>
                    <div class='coccoc-alo-ph-img-circle'></div>
                </div>
            </div>
            <div class='phone__number'>
                <span>093 3356418</span>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->