<header id='page-header' class='sticky'>
    <div id='header-top' class='header-top'>
        <div class='container'>
            <div class='header-top--content'>
                <span class='header-hotline px-2'>
                    <i class='fas fa-envelope'></i>
                    palletthanhduong.vn@gmail.com
                </span>
                <span class='header-hotline px-2 mr-5'>
                    <i class='fas fa-phone'></i>
                    Hotline: 0901 770 979
                </span>
                <span class='header-hotline px-2'>
                    THÀNH DƯƠNG HOTLINE 24/7
                    <span class='buy-box mx-2'>
                        <a href=''> Mua ngay</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class='container'>
        <div id='header-body' class='header-body'>
            <div id='header-logo' class='header-logo'>
                <a href='/' style='cursor: pointer;'>
                    <img src='/img/logo2.png' alt='logo' />
                </a>
            </div>
            <div class='header-body--content'>
                <ul class='nav-menu'>
                    <li>
                        <a href='/'>Trang chủ</a>
                    </li>
                    <li>
                        <a href='/about'>Giới thiệu</a>
                    </li>
                    <li>
                        <a href='/products'>Sản phẩm
                            <i class='fa fa-angle-down'></i>
                        </a>
                        <ul class='sub-nav'>
                            <li>
                                <a href='/'>Pallet nhựa
                                    <i class='fa fa-angle-down'></i>
                                </a>
                                <ul class='sub-nav-inside'>
                                    <li><a href='/'>Pallet nhựa cũ</a></li>
                                    <li><a href='/'>Pallet nhựa mới</a></li>
                                </ul>
                            </li>
                            <li><a href='/'>Sóng nhựa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='/news'>Tin tức</a>
                    </li>
                    <li>
                        <a href='/contact'>Liên hệ</a>
                    </li>
                    <li>
                        <a href='/sales'>Ưu đãi</a>
                    </li>
                </ul>
            </div>
            <div class='header-right-corner'>
                <ul>
                    <li><i class='fa fa-search'></i></li>
                    <li><i class='fa fa-user'></i></li>
                    <li>
                        <a href='/cart'>
                            <i class='fa fa-shopping-cart'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <button id='open-menu-btn' class='open-menu-btn'>
                <i class='uil uil-bars'></i>
            </button>
            <button id='close-menu-btn' class='close-menu-btn'>
                <i class='uil uil-multiply'></i>
            </button>
        </div>
        <div id='header-body-2' class='header-body-2 d-none'>
            <div id='header-logo' class='header-logo text-center'>
                <a href='/' style='cursor: pointer;'>
                    <img src='/img/logo.png' alt='' />
                </a>
            </div>
            <div class='header-body--content'>
                <ul class='nav-menu-2'>
                    <li>
                        <a href='/'>Trang chủ</a>
                    </li>
                    <li>
                        <a href='/about'>Giới thiệu</a>
                    </li>
                    <li>
                        <a href='/products'>Sản phẩm
                            <i class='fa fa-angle-down'></i>
                        </a>
                        <ul class='sub-nav'>
                            <li>
                                <a href='/'>Pallet nhựa
                                    <i class='fa fa-angle-down'></i>
                                </a>
                                <ul class='sub-nav-inside-2'>
                                    <li><a href='/'>Pallet nhựa cũ</a></li>
                                    <li><a href='/'>Pallet nhựa mới</a></li>
                                </ul>
                            </li>
                            <li><a href='/'>Sóng nhựa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='/news'>Tin tức</a>
                    </li>
                    <li>
                        <a href='/contact'>Liên hệ</a>
                    </li>
                    <li>
                        <a href='/sales'>Ưu đãi</a>
                    </li>
                </ul>
                <button id='open-menu-btn-2' class='open-menu-btn-2'>
                    <i class='uil uil-bars'></i>
                </button>
                <button id='close-menu-btn-2' class='close-menu-btn-2'>
                    <i class='uil uil-multiply'></i>
                </button>
            </div>
            <div class='header-right-corner'>
                <ul>
                    <li><i class='fa fa-search'></i></li>
                    <li><i class='fa fa-user'></i></li>
                    <li>
                        <a href='/cart'>
                            <i class='fa fa-shopping-cart'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<style>
    ul { { { !-- margin-top: 50px; -- } } } .nav-menu li:hover { background-color: var(--vang); transition: all 0.05s;} a {
    text-decoration: none; color: var(--cam); font-size: 14px; transition: all .2s; } li ul { position: absolute; top:
    40px; margin-top: 0; padding: 5px 10px; /* left: -50%; */ left: -9999px; width: 220px; opacity: 0; transform:
    translateY(50px); transition: opacity, transform .5s; } li ul::before { content: ''; display: none; position:
    absolute; border: 10px solid transparent; border-bottom-color: #d8b646; top: -15px; left: 50%; margin-left: -10px; }
    li ul li { display: block; background: var(--vang); } li ul li:hover { opacity: .8; } li ul a { color: #fff;
    font-size: 18px; } li:hover>ul { left: -20%; transform: translateY(0px); opacity: 1; } .bar { width: 100%; height:
    5px; background: linear-gradient(45deg, #8b19c3, #c42ff5); transition: all .3s; };
</style>

<script>

</script>