<div class='container content__container'>
    <div class='title introduction-title'>
        <h3>TRIẾT LÝ PHÁT TRIỂN CỦA CÔNG TY TNHH PALLET NHỰA THÀNH DƯƠNG</h3>
    </div>
    <div class='introduction-text'>
        <ul>
            <li>Đặt khách hàng ở vị trí trung tâm, để hiểu và giải quyết các vấn đề của khách hàng.</li>
            <li>Cung cấp sản phẩm, máy, thiết bị với chất lượng tốt nhất</li>
            <li>Hỗ trợ ĐẠI LÝ của mình tốt nhất về dịch vụ bán hàng và sau bán hàng.</li>
            <li>Xây dựng hoàn thiện đội ngũ nhân viên năng động, sáng tạo có năng lực, thái độ tích cực để có thể đem đến những dịch vụ tốt nhất làm hài lòng quý khách hàng.</li>
            <li>Tối ưu sản xuất, tối ưu quản lý, tối ưu vận chuyển nhằm cắt giảm chi phí, tiết kiệm tài chính hơn cho khách hàng.</li>
            <li>Sự phát triển của Công ty luôn đi kèm với sự phát triển của mỗi cá nhân và có sự đóng góp với cộng đồng, xã hội.</li>
        </ul>
    </div>
    <section>
        <div class='container section__container'>
            <div class='section-left'>
                <img src='/img/background1.jpg' alt='product-1'/>
                <img src='/img/background2.jpg' alt='product-2'/>
            </div>
            <div class='section-right'>
                <div class='section-text-title'>

                </div>
                <div class='section-text'>
                    <h2>Chúng tôi là ai?</h2>
                    <p>Thành Dương Việt Nam được thành lập năm 2020 tại TP.HCM .Trải qua nhiều năm hình thành và phát
                        triển, Thành Dương Việt Nam hiện là đơn vị cung cấp toàn diện các giải pháp về Pallet, giải pháp
                        đóng gói và giải pháp vận chuyển trong nhà xưởng, kho hàng… hàng đầu Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class='contact'>
        <div class='contact__container'>
            <div class='contact__left'>
                <p>LIÊN HỆ</p>
                <h3>Bạn cần tư vấn? Liên hệ ngay với chúng tôi</h3>
            </div>
            <div class='contact__right'>
                <a href='#'>
                    <span>Liên hệ ngay với chúng tôi</span>
                </a>
            </div>
        </div>
    </div>
    <div class='business'>
        <div class='business__title'>
            <h2>HỆ THỐNG KINH DOANH</h2>
        </div>
        <div class='business__branch'>
            <div class='business__branch__right'>
                <p>TP. HỒ CHÍ MINH</p>
                <ul>
                    <li>
                        <a href='#'>
                            <i class='uil uil-phone'></i>
                            <span>0971 632 793</span>

                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-map-marker'></i>
                            <span>Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-estate'></i>
                            <span>palletthanhduong.vn@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href='https://www.google.com/maps?ll=10.861909,106.704847&z=16&t=m&hl=vi&gl=US&mapclient=embed&q=21+V%C3%B5+Th%E1%BB%8B+Th%E1%BB%ABa+An+Ph%C3%BA+%C4%90%C3%B4ng+Qu%E1%BA%ADn+12+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam'
                        
                        >
                            <i class='uil uil-map'></i>
                            <span>Xem vị trí</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>