<div class='container content__container'>
    <div class='title introduction-title'>
        <h3>
            Công Ty TNHH MTV Thương Mại Pallet Thành Dương được thành lập năm 2012 chuyên cung cấp các sản phẩm
        </h3>
    </div>
    <div class='introduction-text'>
        <ul>
            <li>+ Sản xuất Pallet gỗ: pallet gỗ ván ép, pallet gỗ keo, pallet gỗ thông, pallet 4 chiều nâng,..</li>
            <li>+ Thương mại Pallet nhựa: pallet nhựa 1 mặt, pallet nhựa 2 hướng nâng,..</li>
            <li>+ Sản xuất Pallet sắt: Pallet sắt xếp chồng, pallet sắt hướng nâng,..</li>
            <li>+ Thùng gỗ, kiện gỗ, bobin gỗ</li>
            <li>+ Dịch vụ cho thuê pallet gỗ các loại</li>
            <li>- Chúng tôi luôn lấy uy tín làm mục tiêu kinh doanh, mang đến sản phẩm chất lượng với giá cả phải chăng.</li>
        </ul>
    </div>
    <section>
        <div class='section__container'>
            <div class='section__header'>
                <h3>Ngành nghề kinh doanh</h3>
            </div>
            <div class='section__grid'>
                <p>+ Pallet - Nhà Sản Xuất và Cung Cấp Pallet</p>
                <p>+ Pallet Gỗ - Sản Xuất Và Cung Cấp</p>
                <p>+ Pallet Nhựa</p>
                <p>+ Kiện Gỗ, Thùng Gỗ</p>
                <p>+ Sản phẩm dịch vụ</p>
                <p>+ Bobin gỗ</p>
                <p>+ Cho thuê pallet gỗ</p>
                <p>+ Cho thuê pallet</p>
                <p>+ Kiện gỗ</p>
                <p>+ Pallet gỗ 2 hướng nâng</p>
                <p>+ Pallet gỗ 4 hướng nâng</p>
                <p>+ Pallet gỗ cũ</p>
                <p>+ Pallet gỗ dán 2 hướng nâng</p>
                <p>+ Pallet gỗ dán 4 hướng nâng</p>
                <p>+ Pallet gỗ dán</p>
                <p>+ Pallet gỗ keo</p>
                <p>+ Pallet gỗ tạp rừng</p>
                <p>+ Pallet gỗ thông</p>
                <p>+ Pallet gỗ tràm</p>
                <p>+ Pallet gỗ ván ép</p>
                <p>+ Pallet nhựa 1 mặt</p>
                <p>+ Pallet nhựa 4 hướng nâng</p>
                <p>+ Pallet nhựa màu đen</p>
                <p>+ Pallet nhựa màu xanh</p>
                <p>+ Pallet nhựa</p>
                <p>+ Pallet sắt 2 hướng nâng</p>
                <p>+ Pallet sắt 4 hướng nâng</p>
                <p>+ Pallet sắt xếp chồng</p>
                <p>+ Pallet sắt</p>
                <p>+ Thùng gỗ</p>
            </div>
        </div>
    </section>
    <div class='contact'>
        <div class='contact__container'>
            <div class='contact__left'>
                <p>LIÊN HỆ</p>
                <h3>Bạn cần tư vấn? Liên hệ ngay với chúng tôi</h3>
            </div>
            <div class='contact__right'>
                <a href='#'>
                    <span>Liên hệ ngay với chúng tôi</span>
                </a>
            </div>
        </div>
    </div>
    <div class='business'>
        <div class='business__title'>
            <h2 class='menu-title'>HỆ THỐNG KINH DOANH</h2>
        </div>
        <div class='business__branch'>
            <div class='business__branch__right'>
                <p>TP. HỒ CHÍ MINH</p>
                <ul>
                    <li>
                        <a href='#'>
                            <i class='uil uil-phone'></i>
                            <span>0971 632 793</span>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-map-marker'></i>
                            <span>Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-estate'></i>
                            <span>palletthanhduong.vn@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href='https://www.google.com/maps?ll=10.861909,106.704847&z=16&t=m&hl=vi&gl=US&mapclient=embed&q=21+V%C3%B5+Th%E1%BB%8B+Th%E1%BB%ABa+An+Ph%C3%BA+%C4%90%C3%B4ng+Qu%E1%BA%ADn+12+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam'
                        >
                            <i class='uil uil-map'></i>
                            <span>Xem vị trí</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>