<section class='h-100' style='background-color: #eee; margin-top: 13rem;'>
    <div class='container-fluid p-5 h-100'>
        <div class='row d-flex justify-content-center align-items-center h-100'>
            <div class='col'>
                <div class='card'>
                    <div class='card-body p-4'>
                        <div class='row'>
                            <div class='col-lg-7'>
                                <h5 class='mb-3'><a href='/products'><i class='fas fa-long-arrow-alt-left me-2'></i>Tiếp
                                        tục mua sắm</a>
                                </h5>
                                <hr />
                                <p class='mb-0'>Có
                                    <span style='color: #d8ca4f' class='total-count'></span>
                                    sản phẩm trong giỏ hàng</p>

                                <div class='show-cart mt-3'>

                                </div>

                            </div>
                            <div class='col-lg-5'>
                                <div class='card text-white rounded-3' style='background-color: #d8ca4f'>
                                    <div class='card-body'>
                                        <h4>Thông tin khách hàng</h4>

                                        <form class='mt-4' method='post'>
                                            <div class='row mb-4'>
                                                <div class='col-md-6'>
                                                    <div class='form-outline form-white'>
                                                        <label class='form-label' for='name'>Họ và tên</label>
                                                        <input
                                                            type='text'
                                                            class='form-control'
                                                            placeholder='Họ và tên'
                                                            id='name'
                                                        />
                                                    </div>
                                                </div>
                                                <div class='col-md-6'>
                                                    <div class='form-outline form-white'>
                                                        <label class='form-label' for='phone'>Số điện thoại</label>
                                                        <input
                                                            type='text'
                                                            id='phone'
                                                            class='form-control'
                                                            placeholder='Số điện thoại'
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='form-outline form-white mb-4'>
                                                <label class='form-label' for='name'>Email</label>
                                                <input
                                                    type='email'
                                                    id='email'
                                                    class='form-control'
                                                    placeholder='Email'
                                                />
                                            </div>

                                            <div class='form-outline form-white mb-4'>
                                                <label class='form-label' for='phone'>Địa chỉ</label>
                                                <input
                                                    type='text'
                                                    id='address'
                                                    class='form-control'
                                                    placeholder='Địa chỉ'
                                                />
                                            </div>

                                            <hr class='my-4' />

                                            <div class='d-flex justify-content-between mb-3'>
                                                <p class='mb-2'>Tạm tính</p>
                                                <p class='mb-2 total-cart'></p>
                                            </div>

                                            <button type='submit' class='btn btn-success btn-block btn-lg'>
                                                <div class='d-flex justify-content-between'>
                                                    <span>Đặt hàng
                                                        <i class='fas fa-long-arrow-alt-right ms-2'></i></span>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
