<div class='contact-page'>
    <div class='map-title'>
        <p><a href="/">Trang chủ</a> / Liên hệ</p>
    </div>
    <div class='map-section'>
        <iframe
            src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7836.675137286861!2d106.704847!3d10.861909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752816da9cb0ef%3A0x1f4750ec350d3004!2zMjEgVsO1IFRo4buLIFRo4burYSwgQW4gUGjDuiDEkMO0bmcsIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1660794827680!5m2!1svi!2sus'
            width='100%'
            height='600'
            style='border:0;'
            allowfullscreen=''
            loading='lazy'
            referrerpolicy='no-referrer-when-downgrade'
        ></iframe>
    </div>
    <div class='form-contact'>
        <div class='form-input'>
            <h4>LIÊN HỆ TƯ VẤN</h4>
            <input type='text' name='' class='form-input-name' placeholder='Họ và tên' required />
            <input type='text' class='form-input-phone' placeholder='Số điện thoại' required />
            <input type='text' class='form-input-email' placeholder='Email' required />
            <textarea
                cols='30'
                rows='10'
                class='form-input-content'
                placeholder='Nội dung...'
                >
            </textarea>
            <a href='#'>
                <button class='btn-v-about'>Xem thêm</button>
            </a>
        </div>
        <div class='form-info'>
            <h4>THÔNG TIN LIÊN HỆ</h4>
            <div class='form-info-article'>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>ĐỊA CHỈ LIÊN HỆ</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-map' style='margin-right: 2px;'></i>
                            21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh, Việt Nam
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>TÊN GIAO DỊCH</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-estate' style='margin-right: 2px;'></i>
                            CÔNG TY TNHH SX TM DV XNK THÀNH DƯƠNG
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>ĐIỆN THOẠI</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-mobile-android' style='margin-right: 2px;'></i>
                            0971 632 793
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>EMAIL</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-envelopes' style='margin-right: 2px;'></i>
                            palletthanhduong.vn@gmail.com
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>