<div class='contact-page'>
    <div class='map-title'>
        <p><a href='/'>Trang chủ</a> / Liên hệ</p>
    </div>
    <div class='map-section'>
        <iframe
            src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.470830886854!2d106.72355131458974!3d10.851748892270498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527dfc81dc8d1%3A0x83b3e5217ea74e00!2zMzI1LCAzYSBI4bq7bSAxMi8xMiDEkC4gU-G7kSA4LCBIaeG7h3AgQsOsbmggUGjGsOG7m2MsIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1661874873149!5m2!1svi!2s'
            width='100%'
            height='600'
            style='border:0;'
            allowfullscreen=''
            loading='lazy'
            referrerpolicy='no-referrer-when-downgrade'
        ></iframe>
    </div>
    <div class='form-contact'>
        <div class='form-input'>
            <h4>LIÊN HỆ TƯ VẤN</h4>
            <input type='text' name='' class='form-input-name' placeholder='Họ và tên' required />
            <input type='text' class='form-input-phone' placeholder='Số điện thoại' required />
            <input type='text' class='form-input-email' placeholder='Email' required />
            <textarea cols='30' rows='10' class='form-input-content' placeholder='Nội dung...'>
            </textarea>
            <a href='#'>
                <button class='btn-v-about'>Đăng ký</button>
            </a>
        </div>
        <div class='form-info'>
            <h4>THÔNG TIN LIÊN HỆ</h4>
            <div class='form-info-article'>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>ĐỊA CHỈ LIÊN HỆ</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-map' style='margin-right: 2px;'></i>
                            21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh, Việt Nam
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>TÊN GIAO DỊCH</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-estate' style='margin-right: 2px;'></i>
                            CÔNG TY TNHH SX TM DV XNK THÀNH DƯƠNG
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>ĐIỆN THOẠI</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-mobile-android' style='margin-right: 2px;'></i>
                            0971 632 793
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>EMAIL</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-envelopes' style='margin-right: 2px;'></i>
                            palletthanhduong.vn@gmail.com
                        </p>
                    </div>
                </article>
                <article class='reason open'>
                    <div class='reason__icon'>
                        <i style='color: #696969;' class='uil uil-plus'></i>
                    </div>
                    <div class='reason__answer'>
                        <span style='color: #696969;'>THANH TOÁN</span>
                        <p style='color: #696969; font-weight: bold;'>
                            <i class='uil uil-university'></i>
                            Ngân hàng Sacombank - PGD Thạnh Lộc
                            <br />
                            Số tài khoản: 060 111 990 584
                            <br />
                            Nguyễn thành dương
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>