<div class='container content__container'>
    <div class='title introduction-title'>
        <h1>CÔNG TY TNHH PALLET NHỰA THÀNH DƯƠNG</h1>
    </div>
    <div class='introduction-text'>
        <p><span>Công ty pallet nhựa Thành Dương</span>
            chuyên cung cấp các loại Pallet nhựa có đầy đủ mẫu mã, màu sắc, kích thước,… Sản phẩm của chúng tôi có
            <span>nguồn gốc xuất xứ rõ ràng</span>
            được sản xuất ở Việt Nam hay được nhập khẩu từ các nước như Hàn Quốc, Nhật Bản, Đài Loan, Liên Xô, Trung
            Quốc,…
        </p>
        <p>
            Phương châm của Công ty chúng tôi là giữ uy tín với khách hàng bằng cách cung cấp sản phẩm
            <span>
                uy tín, chất lượng
            </span>
            một cách nhanh gọn nhất.
        </p>
        <p>
            Công ty chúng tôi đã và đang tiếp tục không ngừng phát triển kỹ thuật để sản xuất ra sản phẩm phù hợp với
            nhu cầu của khách hàng như pallet nhựa chất lượng, độ bền cao, tải trọng lớn, mẫu mã đẹp,
            <span>giá thành rẻ</span>
            cạnh tranh hơn so với những Công ty cung cấp pallet nhựa khác.
        </p>
    </div>
    <section>
        <div class='container section__container'>
            <div class='section-left'>
                <img src='/img/background1.jpg' alt='product-1'/>
                <img src='/img/background2.jpg' alt='product-2'/>
            </div>
            <div class='section-right'>
                <div class='section-text-title'>

                </div>
                <div class='section-text'>
                    <h2>Chúng tôi là ai?</h2>
                    <p>Thành Dương Việt Nam được thành lập năm 2020 tại TP.HCM .Trải qua nhiều năm hình thành và phát
                        triển, Thành Dương Việt Nam hiện là đơn vị cung cấp toàn diện các giải pháp về Pallet, giải pháp
                        đóng gói và giải pháp vận chuyển trong nhà xưởng, kho hàng… hàng đầu Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class='contact'>
        <div class='contact__container'>
            <div class='contact__left'>
                <p>LIÊN HỆ</p>
                <h3>Bạn cần tư vấn? Liên hệ ngay với chúng tôi</h3>
            </div>
            <div class='contact__right'>
                <a href='#' target='_blank'>
                    <span>Liên hệ ngay với chúng tôi</span>
                </a>
            </div>
        </div>
    </div>
    <div class='business'>
        <div class='business__title'>
            <h2>HỆ THỐNG KINH DOANH</h2>
        </div>
        <div class='business__branch'>
            <div class='business__branch__right'>
                <p>TP. HỒ CHÍ MINH</p>
                <ul>
                    <li>
                        <a href='' target='_blank'>
                            <i class='uil uil-phone'></i>
                            <span>0971 632 793</span>

                        </a>
                    </li>
                    <li>
                        <a href='' target='_blank'>
                            <i class='uil uil-map-marker'></i>
                            <span>Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href='' target='_blank'>
                            <i class='uil uil-estate'></i>
                            <span>palletthanhduong.vn@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href='https://www.google.com/maps?ll=10.861909,106.704847&z=16&t=m&hl=vi&gl=US&mapclient=embed&q=21+V%C3%B5+Th%E1%BB%8B+Th%E1%BB%ABa+An+Ph%C3%BA+%C4%90%C3%B4ng+Qu%E1%BA%ADn+12+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam'
                            target='_blank'
                        >
                            <i class='uil uil-map'></i>
                            <span>Xem vị trí</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>