<div class='container news__container'>
    <div class='background'>
        <div class='background-image'>
            <div class='background-text'>
                <h1>Tin tức & sự kiện</h1>
                <h3>Trang chủ / Tin tức & sự kiện</h3>
            </div>
        </div>
    </div>
    <div class='grid-news-content'>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
        <a href="/news/title" class='news-article'>
            <div class='news-image'>
                <img
                    src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3170518665610_d3921c84182af8e6abd085a68a2f436b-1-510x412.jpg'
                    alt='news'
                />
                <div class='news-title'>
                    <p>Mua Pallet Nhựa Cũ Giá Rẻ Gọi 0933356418</p>
                </div>
            </div>
        </a>
    </div>
    <div class='business'>
        <div class='business__title'>
            <h2>HỆ THỐNG KINH DOANH</h2>
        </div>
        <div class='business__branch'>
            <div class='business__branch__right'>
                <p>TP. HỒ CHÍ MINH</p>
                <ul>
                    <li>
                        <a href='#'>
                            <i class='uil uil-phone'></i>
                            <span>0971 632 793</span>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-map-marker'></i>
                            <span>Địa chỉ: 21/8/9 Võ Thị Thừa, Khu phố 3, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí
                                Minh, Việt Nam
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='uil uil-estate'></i>
                            <span>palletthanhduong.vn@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href='https://www.google.com/maps?ll=10.861909,106.704847&z=16&t=m&hl=vi&gl=US&mapclient=embed&q=21+V%C3%B5+Th%E1%BB%8B+Th%E1%BB%ABa+An+Ph%C3%BA+%C4%90%C3%B4ng+Qu%E1%BA%ADn+12+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam'
                        >
                            <i class='uil uil-map'></i>
                            <span>Xem vị trí</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>