<div class='container product__container'>
    <div class='background'>
        <div class='background-image'>
            <div class='background-text'>
                <h1>Sản phẩm</h1>
                <h3>Trang chủ / Sản phẩm</h3>
            </div>
        </div>
    </div>
    <div class='container gird-content'>
        <div class='grid-content-left'>
            <h3>Sản phẩm</h3>
            <ul>
                <h4>Danh mục sản phẩm</h4>
                <li>
                    <i class='uil uil-arrow-right'></i>
                    Pallet Gỗ
                </li>
                <li>
                    <i class='uil uil-arrow-right'></i>
                    Pallet Nhựa Mới
                </li>
                <li>
                    <i class='uil uil-arrow-right'></i>
                    Pallet Nhựa
                </li>
                <li>
                    <i class='uil uil-arrow-right'></i>
                    Pallet Nhựa Cũ
                </li>
            </ul>
        </div>
        <div class='grid-content-right'>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3442880341331_46d9b2fc7a30a51ae8f415a97bcd1506-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3402453641916_77c25d5c64630d38eaaeb134a03f3d75-1-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3445735492175_e0c73f7cb7a0aa728ebf0efb07a0ef44-2-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3442880341331_46d9b2fc7a30a51ae8f415a97bcd1506-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3442880341331_46d9b2fc7a30a51ae8f415a97bcd1506-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
            <a href="product/1" class='product-article' target="_blank">
                <div class='product-image'>
                    <img
                        src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/z3442880341331_46d9b2fc7a30a51ae8f415a97bcd1506-247x296.jpg'
                        alt='product-image'
                    />
                    <div class='product-heart'>
                        <i class='uil uil-heart'></i>
                    </div>
                    <div class='product-cart'>
                        <i class='uil uil-shopping-bag'></i>
                    </div>
                </div>
                <div class='product-info'>
                    <div class='product-type'>
                        <p>PALLET GỖ</p>
                    </div>
                    <div class='product-name'>
                        <h5>Pallet Gỗ Tạp</h5>
                    </div>
                    <div class='product-start'>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                        <i class='uil uil-favorite'></i>
                    </div>
                    <div class='product-contact'>
                        <p>Liên hệ</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>