<div class='container search__container'>
    <div class='background'>
        <div class='background-image'>
            <div class='background-text'>
                <h1>Tìm kiếm</h1>
                <h3>
                    <a href='/'>Trang chủ</a>
                    / Tìm kiếm
                </h3>
            </div>
        </div>
    </div>
    <div class='container gird-content'>
        <div class='grid-content-left'>
            <ul>
                <h4>Danh mục sản phẩm</h4>
                <li>
                    <a href='#Pallet Nhựa' style='color: #333;' class='item__container'>
                        Pallet Nhựa
                    </a>
                    <div class='sub__item__container'>
                        <a href='#Pallet Nhựa cũ' class='sub__item'>+ Pallet Nhựa Cũ</a>
                        <a href='#Pallet Nhựa mới' class='sub__item'>+ Pallet Nhựa Mới</a>
                    </div>
                </li>
                <li>
                    <a href='#Sóng nhựa' style='color: #333;'>Sóng Nhựa</a>
                </li>
            </ul>
        </div>

        <div class='grid-content-right'>
            <div class='grid-content-right-product'>
                <div class='card h-100 border-0'>
                    <a href='' class='product-box'>
                        <div class='product-img-box'>
                            <img
                                src='https://muabanpalletnhuacu.com/wp-content/uploads/2022/06/740x740x130-1-1-247x296.jpg'
                                alt='product'
                                class='w-100'
                            />
                        </div>
                        <div class='product-content-box rounded-bottom card-body pt-0'>
                            <div class='product-title'>
                                <a href=''>PALLET NHỰA KÍCH THƯỚC 1200X1100X120MM</a>
                            </div>
                            <div class='product-price'>
                                <p>Giá: 1.000.000 VNĐ</p>
                                <p>Giá khuyến mãi: 500.000 VNĐ</p>
                            </div>
                            <button
                                type='button'
                                data-name=''
                                data-price=''
                                data-image=''
                                class='btn btn-outline-info px-3 rounded-pil add-to-cart mt-2 mb-4'
                            >Thêm vào giỏ hàng</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>