<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/D.png">
    {{!-- Bootstrap 5 --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/a60d8d237e.js" crossorigin="anonymous"></script>
    {{!-- -- iconscout --  --}}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Pallet Thành Dương</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    {{!-- Swiper --}}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
</head>

<body style="overflow-x: hidden;">
    {{> header}}
    
    {{{body}}}
    <div class="modal__signin">
        <div class="modal__overplay"></div>
        <div class="modal__body">
            <div class="modal__form">
                <div class="modal__header__icon">
                    <div class="modal__header__icon__mail">
                        <img src="/img/email-2.png" alt="email">
                    </div>
                    <div class="modal__header__icon__close">
                        <i class="uil uil-times"></i>
                    </div>
                </div>
                <div class="modal__footer">
                    <div class="modal__footer__text">
                        <h3>ĐĂNG KÝ TƯ VẤN TRỰC TIẾP</h3>
                        <p>Quý khách vui lòng nhập số điện thoại để được tư vấn nhanh nhất</p>
                    </div>
                    <div class="modal__footer__input">
                        <input type="text" placeholder="Họ và Tên" name="name">
                        <input type="number" placeholder="Số điện thoại" name="phone">
                        <button type="submit">Đăng ký ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__login">
        <div class="modal__overplay"></div>
        <div class="modal__body">
            <div class="modal__form">
                <div class="modal__header__icon">
                    <div class="modal__header__icon__mail">
                        <img src="/img/user.png" alt="email">
                    </div>
                    <div class="modal__login__header__icon__close">
                        <i class="uil uil-times"></i>
                    </div>
                </div>
                <div class="modal__footer">
                    <div class="modal__footer__text">
                        <h3>ĐĂNG NHẬP TÀI KHOẢN</h3>
                    </div>
                    <div class="modal__footer__input">
                        <input type="text" placeholder="Tài khoản" name="user">
                        <input type="password" placeholder="Mật khẩu" name="password">
                        <button type="submit">Đăng nhập</button>
                        <p>
                            Chưa có tài khoản?
                            <a href="">Click vào đây để đăng ký</a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}

    {{!-- Add to cart popup --}}
    <div class='alert alert-success fade show' role='alert' style='display:none; position: fixed; top: 25px; right: 25px; z-index: 100000;'>
        Thêm sản phẩm vào giỏ hàng thành công.
        <span
            style='font-size: 20px; cursor: pointer; padding: 5px 0 0 10px'
            onclick="$('.alert').hide('fade');"
        >&times;</span>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.6.1/jquery.zoom.min.js"
        integrity="sha512-xhvWWTTHpLC+d+TEOSX2N0V4Se1989D03qp9ByRsiQsYcdKmQhQ8fsSTX3KLlzs0jF4dPmq0nIzvEc3jdYqKkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/cart.js"></script>
    <script>
        setTimeout(() => {$(".alert").hide('fade')}, 5000);
    </script>
</body>

</html>